body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.parent {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(17, 17, 17);
  color: #fff;
}
.one {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.item {
  background: rgb(1, 70, 102);
  width: 90%;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.7vw;
  color: #fff;
  font-size: 2.3vw;
  margin-top: -14vw;
}
.item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#title {
  font-weight: 900;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 8vw;
}
.input {
  width: 95%;
  font-size: 2vw;
  padding: 1vw 2vw;
  background: rgb(12, 186, 255);
  border: 0px;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.funct {
  padding: 1vw 2.5vw;
  font-weight: 800;
  font-size: 1.5vw;
  background: rgb(97, 69, 255);
  border-radius: 5vw;
  text-transform: uppercase;
  margin: 1vw;
  cursor: pointer;
  transition: 0.3s;
}
.funct:hover {
  background: rgb(255, 255, 255);
  color: #000;
}
.two {
  height: 85%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vw 0vw;
  align-items: center;
  background: rgb(199, 186, 0);
  border-radius: 3vw;
}
.teth {
  background: rgb(136, 122, 0);
  height: 3vw;
  border-radius: 3vw;
  width: 80%;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0.5vw 0vw;
}
.item-text {
  position: absolute;
  margin-left: 3vw;
  font-size: 1.5vw;
}
.tick {
  height: 30px;
  width: 30px;
  background: rgb(255, 255, 255);
  border-radius: 100%;
}
.cross {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 0.5vw;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#close-icon {
  height: 20px;
  width: 20px;
  display: none;
  transition: 0.1s;
  cursor: pointer;
}
#close-icon:hover {
  height: 30px;
  width: 30px;
}
.teth:hover #close-icon {
  display: block;
}
@keyframes giga
{
0%
{
  height: 30px;
  width: 30px;
  background: rgb(255, 255, 255);
  border-radius: 100%;
}
50%
{
  height: 2px;
  width: 2px;
  background: rgb(255, 255, 255);
  border-radius: 100%;
}
75%
{
  margin-left:1vw;
}
100%
{
  height: 2px; width: 400px; margin-left:2vw; border-radius: 0%;
}
}